v5.03/CWC.AutoTests/Web References/SendFedding/WebServiceFeedings.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="WebServices.WebServiceFeedings" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="WebServices.WebServiceFeedings" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="WebServices.WebServiceFeedings">
      <s:element name="SendFeeding">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendFeedingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidationResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Warning" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResponseContent" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ResponseHash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendFeedingSoapIn">
    <wsdl:part name="parameters" element="tns:SendFeeding" />
  </wsdl:message>
  <wsdl:message name="SendFeedingSoapOut">
    <wsdl:part name="parameters" element="tns:SendFeedingResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceFeedingsSoap">
    <wsdl:operation name="SendFeeding">
      <wsdl:input message="tns:SendFeedingSoapIn" />
      <wsdl:output message="tns:SendFeedingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceFeedingsSoap" type="tns:WebServiceFeedingsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFeeding">
      <soap:operation soapAction="SendFeeding" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceFeedingsSoap12" type="tns:WebServiceFeedingsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendFeeding">
      <soap12:operation soapAction="SendFeeding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceFeedings">
    <wsdl:port name="WebServiceFeedingsSoap" binding="tns:WebServiceFeedingsSoap">
      <soap:address location="http://localhost:7045/WebServiceFeedings.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceFeedingsSoap12" binding="tns:WebServiceFeedingsSoap12">
      <soap12:address location="http://localhost:7045/WebServiceFeedings.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>